body {
    background-color: #000;
}

.container {
    background-color: #fff;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    border: 0.5px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 10px 40px;

    .container__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .container__header-text {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #000000;
        }
    }

    .container__content {
        display: flex;
        margin: 80px 0;
        align-items: center;
        justify-content: space-around;
        margin: 80px 0;

        .container__box {
            border: 3px dashed #A99F9F;
            width: 293.25px;
            height: 177.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .container__box-img {
                margin-bottom: 20px;
            }

            .container__box-text {
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #000000;
            }
        }
    }

    .container__footer {
        display: flex;
        align-items: center;
        justify-content: center;

        .button-cancel {
            width: 117.93px;
            height: 38px;
            background: #B2B8BC;
            border: 1px solid #9C8F8F;
            border-radius: 7px;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #F0F7FC;
            margin-right: 65px;
        }

        .button-import {
            width: 145.05px;
            height: 38px;
            background: #0071BB;
            border: 1px solid #DCDCDC;
            border-radius: 7px;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #F0F7FC;
        }
    }
}