.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(61, 57, 57, 0.48);
    .popup {
        position: absolute;
        width: 100%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 30px;
        background-color: #fff;
        max-width: 625px;
        .popup-title {
            margin: 50px 60px 60px 60px;
            p {
                font-weight: 500;
                font-size: 25px;
                line-height: 30px;
                color: #272727;
                text-align: center;
            }
        }
        .popup-button {
            display: flex;
            align-items: center;
            justify-content:center;
            margin-bottom: 51px;
            .back {
                width: 145px;
                height: 46px;
                background: #9AA3A9;
                border: 1px solid #DCDCDC;
                border-radius: 7px;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                cursor: pointer;
                color: #F0F7FC;
                margin-right: 50px;
                
            }

            .confirm {
                width: 145px;
                height: 46px;
                background: #0071BB;
                border: 1px solid #DCDCDC;
                border-radius: 7px;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                cursor: pointer;
                color: #F0F7FC;
            }
        }
    }
}